h1{
    color: red;
}

#overflow{
    height: 150px;
    background-color: blueviolet;
    width: 200px;
    /* overflow: auto; */
    /* overflow:scroll; */
    overflow: hidden;
}
#visibility{
    height: 200px;
    width: 500px;
    background-color: aqua;
    /* visibility: hidden; */
     /* display: none;  */
 opacity: 0.6;
}